<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Options</key>
    <array>
        <dict>
            <key>Description</key>
            <string>Your new product&apos;s name.</string>
            <key>EmptyReplacement</key>
            <string>ProductName</string>
            <key>Identifier</key>
            <string>productName</string>
            <key>Name</key>
            <string>Product Name</string>
            <key>NotPersisted</key>
            <true/>
            <key>Required</key>
            <true/>
            <key>Type</key>
            <string>text</string>
        </dict>
        <!--
        <dict>
            <key>Default</key>
            <string>___VARIABLE_bundleIdentifierPrefix:bundleIdentifier___.___VARIABLE_productName:RFC1034Identifier___</string>
            <key>Description</key>
            <string>Your new product&apos;s bundle identifier.</string>
            <key>Identifier</key>
            <string>bundleIdentifier</string>
            <key>Name</key>
            <string>Bundle Identifier</string>
            <key>Type</key>
            <string>static</string>
        </dict>
        -->
    </array>
    <key>Platforms</key>
    <array>
        <string>com.apple.platform.iphoneos</string>
    </array>
    <key>Project</key>
    <dict>
        <key>SDK</key>
        <string>iphoneos</string>
        <key>SharedSettings</key>
        <dict>
            <key>ARCHS</key>
            <string>$(ARCHS_STANDARD_32_BIT)</string>
            <key>GCC_VERSION</key>
            <string>com.apple.compilers.llvmgcc42</string>
            <key>IPHONEOS_DEPLOYMENT_TARGET</key>
            <string>latest_iphoneos</string>
        </dict>
        <key>Configurations</key>
        <dict>
            <key>Debug</key>
            <dict/><!--
            <dict>
                <key>GCC_OPTIMIZATION_LEVEL</key>
                <string>0</string>
                <key>GCC_PREPROCESSOR_DEFINITIONS</key>
                <string>DEBUG</string>
                <key>GCC_SYMBOLS_PRIVATE_EXTERN</key>
                <string>NO</string>
            </dict>-->
            <key>Release</key>
            <dict/><!--
            <dict>
                <dict>
                <key>OTHER_CFLAGS</key>
                <string>-DNS_BLOCK_ASSERTIONS=1</string>
                </dict>
            </dict>
            -->
        </dict>
        <!--
        <key>SharedSettings</key>
        <dict>
            <key>CODE_SIGN_IDENTITY[sdk=iphoneos*]</key>
            <string>iPhone Developer</string>
            <key>GCC_C_LANGUAGE_STANDARD</key>
            <string>gnu99</string>
            <key>GCC_WARN_ABOUT_RETURN_TYPE</key>
            <string>YES</string>
            <key>GCC_WARN_UNUSED_VARIABLE</key>
            <string>YES</string>
        </dict>
    -->
    </dict>
    <key>Concrete</key>
    <true/>
    <key>Definitions</key>
    <dict>
        <key>wax</key>
        <dict>
            <key>Group</key>
            <array>
                <string>wax</string>
            </array>
            <key>Path</key>
            <string>wax</string>
            <key>TargetIndices</key>
            <array/>
        </dict>
        <key>Classes/ProtocolLoader.h</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Classes</string>
            </array>
            <key>Path</key>
            <string>Classes/ProtocolLoader.h</string>
            <key>TargetIndices</key>
            <array/>
        </dict>
        <key>scripts/AppDelegate.lua</key>
        <dict>
            <key>Group</key>
            <array>
                <string>scripts</string>
            </array>
            <key>Path</key>
            <string>scripts/AppDelegate.lua</string>
            <key>TargetIndices</key>
            <array/>
        </dict>
        <key>Entitlements.plist</key>
        <dict>
            <key>Group</key>
            <string>Supporting Files</string>
            <key>Path</key>
            <string>Entitlements.plist</string>
            <key>TargetIndices</key>
            <array/>
        </dict>
        <key>Info.plist</key>
        <dict>
            <key>Group</key>
            <string>Supporting Files</string>
            <key>Path</key>
            <string>Info.plist</string>
            <key>TargetIndices</key>
            <array/>
        </dict>
        <key>Icon.png</key>
        <dict>
            <key>Group</key>
            <string>Supporting Files</string>
            <key>Path</key>
            <string>Icon.png</string>
            <key>TargetIndices</key>
            <array/>
        </dict>
        <key>Prefix.pch</key>
        <dict>
            <key>Group</key>
            <string>Supporting Files</string>
            <key>Path</key>
            <string>Prefix.pch</string>
            <key>TargetIndices</key>
            <array/>
        </dict>
        <key>main.m</key>
        <dict>
            <key>Group</key>
            <string>Supporting Files</string>
            <key>Path</key>
            <string>main.m</string>
        </dict>
        <key>Rakefile</key>
        <dict>
            <key>Group</key>
            <string>Supporting Files</string>
            <key>Path</key>
            <string>Rakefile</string>
            <key>TargetIndices</key>
            <array/>
        </dict>
    </dict>
    <key>Description</key>
    <string>This template provides a starting point for Wax-based application.</string>
    <key>Identifier</key>
    <string>com.github.probablycorey.windowBasedApplication</string>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Nodes</key>
    <array>
        <string>Classes/ProtocolLoader.h</string>
        <string>scripts/AppDelegate.lua</string>
        <string>Entitlements.plist</string>
        <string>Info.plist</string>
        <string>Icon.png</string>
        <string>Prefix.pch</string>
        <string>main.m</string>
        <string>Rakefile</string>
    </array>
    <key>Targets</key>
    <array>
        <dict>
            <key>Frameworks</key>
            <array>
                <string>UIKit</string>
                <string>Foundation</string>
            </array>
            <key>BuildPhases</key>
            <array>
                <dict>
                    <key>Class</key>
                    <string>ShellScript</string>
                    <key>ShellPath</key>
                    <string>/bin/sh</string>
                    <key>ShellScript</key>
                    <string>${PROJECT_DIR}/${PROJECT_NAME}/wax/lib/build-scripts/copy-scripts.sh</string>
                </dict>
                <dict>
                    <key>Class</key>
                    <string>Sources</string>
                </dict>
                <dict>
                    <key>Class</key>
                    <string>Frameworks</string>
                </dict>
                <dict>
                    <key>Class</key>
                    <string>Resources</string>
                </dict>
            </array>
            <key>Name</key>
            <string>___PACKAGENAME___</string>
            <key>ProductType</key>
            <string>com.apple.product-type.application</string>
            <key>SharedSettings</key>
            <dict>
                <key>GCC_PRECOMPILE_PREFIX_HEADER</key>
                <string>YES</string>
                <key>GCC_PREFIX_HEADER</key>
                <string>___PACKAGENAME___/Prefix.pch</string>
                <key>INFOPLIST_FILE</key>
                <string>___PACKAGENAME___/Info.plist</string>
                <key>OTHER_LDFLAGS</key>
                <string>-ObjC -all_load</string>
                <key>USER_HEADER_SEARCH_PATHS</key>
                <array>
                    <string>${PROJECT_DIR}/${PROJECT_NAME}/wax/lib</string>
                    <string>${PROJECT_DIR}/${PROJECT_NAME}/wax/lib/stdlib</string>
                    <string>${PROJECT_DIR}/${PROJECT_NAME}/wax/lib/stdlib/ext</string>
                    <string>${PROJECT_DIR}/${PROJECT_NAME}/wax/lib/stdlib/helpers</string>
                    <string>${PROJECT_DIR}/${PROJECT_NAME}/wax/lib/stdlib/luaspec</string>
                    <string>${PROJECT_DIR}/${PROJECT_NAME}/wax/lib/lua</string>
                    <string>${PROJECT_DIR}/${PROJECT_NAME}/wax/lib/extensions/CGAffine</string>
                    <string>${PROJECT_DIR}/${PROJECT_NAME}/wax/lib/extensions/CGContext</string>
                    <string>${PROJECT_DIR}/${PROJECT_NAME}/wax/lib/extensions/filesystem</string>
                    <string>${PROJECT_DIR}/${PROJECT_NAME}/wax/lib/extensions/HTTP</string>
                    <string>${PROJECT_DIR}/${PROJECT_NAME}/wax/lib/extensions/json</string>
                    <string>${PROJECT_DIR}/${PROJECT_NAME}/wax/lib/extensions/SQLite</string>
                    <string>${PROJECT_DIR}/${PROJECT_NAME}/wax/lib/extensions/xml</string>
                </array>
            </dict>
        </dict>
    </array>
</dict>
</plist>
